.history
.pytest_cache

#Results / CSV files
discord_bot/results.csv
outputs/results.csv
outputs/earnings_backend.csv
src/test.csv
src/results.csv
src/results_10.csv
src/results_100.csv

#Test inputs
src/test_inputs/*
src/test_inputs_5_31_2023/*
src/__pycache__/*
src/.pytest_cache/*
